* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
#calcbody {
    width: 400px;
    border: 2px solid #000;
    padding: 0.3em;
}
.calcscreen {
    margin-bottom: 0.3em;
}
.calcscreen > input {
    border: 2px solid #000;
    font-size: 2em;
    width: 100%;
    padding-top: 1em;
    text-align: right;
    font-weight: bold;
}
.btn-grid button {
    font-size: 2em;
    width: 100%;
}
.btn-grid table {
    width: 100%;
}